<?xml version="1.0" encoding="windows-1251"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.nsk.su/iae/post/PoST"
			class = "su.nsk.iae.post.poST.PoSTPackage"
			genModel = "model/generated/PoST.genmodel" />
	</extension>
</plugin>
